@font-face {
    font-family: "Barlow";
    src: url("./fonts/Barlow.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./fonts/BarlowCondensed.ttf") format('truetype');
}

@font-face {
    font-family: "Bold";
    src: url("./fonts/Barlow-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Bellefair";
    src: url("./fonts/Bellefair.ttf") format('truetype');
}